<robot name="simple_ball">
  <link name="ball">

    <!-- <contact>

      <restitution value="0.8" />
      <rolling_friction value="0.001"/>
      <spinning_friction value="0.001"/>     
    </contact> -->
    <inertial>
      <mass value="0.05" />
      <!-- center of mass (com) is defined w.r.t. link local coordinate system -->
      <!-- give a little y-offset to make the top precess -->
      <origin xyz="0 0 0" /> 
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <!-- visual origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0335"/>
      </geometry>
      <material name="color">
        <color rgba="0.8 0.2 .3 1"/>
      </material>
    </visual>
    <collision>
      <!-- collision origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.0335"/>
      </geometry>
        <surface>
        <contact>
            <restitution>0.8</restitution>
        </contact>
        </surface>
    </collision>
  </link>
  <gazebo reference="ball">
    <!-- <mu1>10</mu1>
    <mu2>10</mu2> -->
    <material>Gazebo/Red</material>
    <turnGravityOff>false</turnGravityOff>
  </gazebo>
</robot>
