<?xml version="1.0"?> 
<robot name="court">
    <!-- Colors --> 
    <material name="grey"> 
        <color rgba="0.91 0.925 0.945 1"/>
    </material>

    <!-- Plane -->
    <link name="base_link">
        <visual> 
            <geometry> 
                <box size="28 14 0.01"/>
                <origin rpy="0 0 0" xyz="-10 -10 -0.005"/>
            </geometry>
            <material name="grey">
              <texture filename="model://../materials/tennisCourt.material"/>
            </material>
        </visual>
        <collision> 
             <geometry> 
                <box size="28 14 0.01"/>
                <origin rpy="0 0 0" xyz="-10 -10 -0.005"/>
            </geometry>
        </collision> 
        <inertial> 
            <mass value="0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial> 
        <contact> 
            <lateral_friction value="4"/>
        </contact>

      <visual> 
        <geometry> 
          <box size="0.194382 12.6506 1"/>
          <origin rpy="0 0 0" xyz="12.0139 0.00204 0.5"/>
        </geometry>
        <material name="grey">
          <texture filename="model://../materials/tennisCourt.material"/>
        </material>
      </visual>
      <collision> 
        <geometry> 
          <box size="20 20 0.01"/>
          <origin rpy="0 0 0" xyz="-10 -10 -0.005"/>
        </geometry>
        <surface>
        <contact>
            <restitution>0.8</restitution>
        </contact>
        </surface>
      </collision> 
      <inertial> 
        <mass value="0"/>
        <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
      </inertial> 
      <contact> 
        <lateral_friction value="4"/>
      </contact>
    </link>
</robot>
